/* Login.css */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.loginBox {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin: 0 0 20px;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
  position: relative;
}

.input {
  width: 100%;
  padding: 12px;  /* Changed to match the button padding */
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--input-dark);
  color: var(--text-light);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;  /* Added to ensure padding is included in the element's total width */
}

.lightMode .input {
  background-color: var(--input-light);
  color: var(--text-dark);
}

.inputBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.input:focus + .inputBorder {
  width: 100%;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--background-dark);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.error {
  color: #ff3366;
  margin-top: 10px;
  font-size: 0.9rem;
}

.toggleBtn {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  margin-top: 20px;
  font-size: 0.9rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .loginBox {
    padding: 30px;
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .input, .submitBtn {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .loginBox {
    padding: 20px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .input, .submitBtn {
    font-size: 0.9rem;
    padding: 10px;
  }

  .error, .toggleBtn {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .loginBox {
    max-width: 450px;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .input, .submitBtn {
    font-size: 1.1rem;
  }
}