/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #00ff9d;
  --secondary-color: #ff00ff;
  --background-dark: #0a0a0a;
  --background-light: #f0f0f0;
  --text-dark: #333;
  --text-light: #fff;
  --input-dark: #1a1a1a;
  --input-light: #e0e0e0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: var(--text-light);
  font-size: 18px;
}